@charset "utf-8";
/* CSS Document */

@font-face
{
	font-family: "GODOFWAR";
	src: url("Dokumenti/GODOFWAR.TTF");
}

p {
    color: green;
	font-family: "GODOFWAR", Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	font-size: 18 px;
	line-height: 18 px;
	width: 800 px;
	background-color: antiquewhite;
	padding: 20 px;
}
.paragraf_2 {color:darkcyan; background-color: rgba (255, 255, 255, 0.5)}

.novi_blok {
	background-color: rgba (255, 255, 255, 0.5);
	padding: 20 px;
	margin: 20 px;
	width: 50 %;
}


h1, h2 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: cadetblue;
}

.intro {background-color:red; }

span {color: #FF0000;}

.pozadina{
	background-image: url("slike/07.jpg");
}

.drugapozadina {
	background-color: darkcyan;
}

a:link {
	color: black;
	background-color: white;
	padding: 5 px;
	line-height: 40 px;
	border: 1 px solid #000000; 
}
a:hover {
	background-color: darkgray;
}

img {
	height: 200 px;

}
