@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: "GodOfWar";
	src: url("fonts/GODOFWAR.TTF");
}

p {
    color: green;
	font-family: "GodOfWar", Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	font-size: 18px;
	line-height: 18px;
	width: 800px;
	background-color: antiquewhite;
	padding: 20px;
}
.paragraf_2 {color:darkcyan; background-color: rgba(255, 255, 255, 0.5)}

.novi_blok {
	background-color: rgba(255, 255, 255, 0.5);
	padding: 20px;
	margin: 20px;
	width: 50%;
}


h1, h2 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: cadetblue;
}

.intro {background-color:red; }

span {color: #FF0000;}

.pozadina{
	background-image: url("slike/07.jpg");
}

.drugapozadina {
	background-color: darkcyan;
}

a:link {
	color: black;
	background-color: white;
	padding: 5px;
	line-height: 40px;
	border: 1px solid #000000; 
}
a:hover {
	background-color: darkgray;
}

img {
	height: 200px;
}